<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

       function drawChart() { var data = google.visualization.arrayToDataTable({{mytable | safe}});
        
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		
		var options = {'title':'ТОП 10 частотных слов за три дня газеты Московский Комсомолец (раздел "Культура")',
                       'width':900,
                       'height':500};
		chart.draw(data, options);
      }
    </script>
  </head>

  <body>
	<div id="chart_div"></div>
	<a href="{{ url }}">Вернуться на главную страницу</a>
  </body>
</html>
